a {
    color: inherit!important;
    text-decoration: none!important;
}

.add_from * {
    margin-bottom: 1.3vh;
}

.object_list * {
    margin-bottom: 1vh;
}

.object_list a {
    display: flex;
    justify-content: center;
    width: fit-content;
}